.logo-white{
  text-align: center;
  width: 100%;

  img{
    width: 100px;
  }
}


.round-block{
  height: 35px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 10px auto;
  background: transparent;
}

@media screen and (max-width: 767px){

  .meal-view{
    max-width: 500px;
    margin-top: 0 !important;
    width: 100% !important;

    .lg{
      display: none;
    }
    .xs{
      display: initial !important;
    }
  }

}

.meal-view{
  width: 70%;
  margin: 70px auto 0;

  .xs{
    display: none;
    text-align: center;
  }

  .lg{
    // margin-top: 30px;
  }

  .icon-container{
    border:1px solid rgba(255,255,255,0.5);
    border-radius: 100px;
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;

    .icon{
      text-align: center;
      width: 150px;
      height: 150px;
      border-radius: 100px;
      overflow: hidden;
      position: absolute;
      margin: 4px;

      img{
        width: 100%;
        min-height: 100%;
      }
    }
  }

  .data .row{
    margin: 10px 0;
  }

  .data-form .row{
    margin: 10px 0 20px;
  }

  form{
    margin: 0;
    width:100%;

  }

  .label{
    font-weight: 900;
  }
}
