.days{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;

    .day{
        color: white;
        background: none;
        border: 1px solid white;
        border-radius: 50px;
        width: 40px;
        text-align: center;
    }
    .day:active{
        background-color: $gradient;
    }
}

.rounded-container{
    padding-left: 10px;
   .rounded-wrapper{
        width: 80%;
        height: 80px;
        margin: auto;
        padding-right: 20px;
        border: 1px solid white;
        border-radius: 120px;

        .rounded-image{
            width: 70px;
            height: 70px;
            margin: 5px;
            border: 1px solid white;
            border-radius: 120px;
            display: inline-block;
            line-height: 80px;
        }
        .rounded-text{
            margin-top: -80px;
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
            line-height: 80px;
        }
    }
}

form{
    margin: 50px auto;
    width: 80%;
    input{
        height: 25px;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
    }
    input::placeholder{
        color: rgba($color: white, $alpha: 0.5);
    }
    input[type=submit]{
        height: 35px;
        border: 1px solid white;
        border-radius: 50px;
        margin: 10px auto;
    }
    select{
        height: 25px;
        width: 50%;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: rgb(124, 122, 122);
    }
}

@media(min-width: $tablet){
    .days{
        .day{
            border: 1px solid white;
            border-radius: 50px;
            width: 70px;
            text-align: center;
        }
    }
}
@media(min-width: $desktop){
    
}