.days{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;

    .day{
        color: white;
        background: none;
        border: 1px solid white;
        border-radius: 50px;
        width: 40px;
        text-align: center;
    }
    
    .active, .day:hover {
        background: $grubbie_gradient;
    }
}

.rounded-container{
    padding-left: 10px;
    margin-bottom: 10px;
   .rounded-wrapper{
        width: 80%;
        height: 80px;
        margin: auto;
        padding-right: 20px;
        border: 1px solid white;
        border-radius: 120px;
    }
    .rounded-image{
        width: 70px;
        height: 70px;
        margin: 5px;
        border: 1px solid white;
        border-radius: 120px;
        display: inline-block;
        line-height: 80px;
    }
    .rounded-text{
        margin-top: -80px;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
        line-height: 80px;
    }
    .rate-wrapper{
        width: 80%;
        height: 80px;
        margin: auto;
        padding-right: 20px;
        border-radius: 120px;
    }
    .rate-text{
        margin-top: -80px;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
    
    input{
        background: transparent;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        font-style: italic;
    }
}
.star {
    border: none;
    outline: none;
    padding: 3px 3px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

/* Style the active class, and buttons on mouse-over */
.active, .star:hover {
    background-color: white;
}

form{
    margin: 50px auto;
    width: 80%;
    input{
        height: 25px;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid $outrageous_orange;
        color: $outrageous_orange;
    }
    input::placeholder{
        color: rgba($color: $outrageous_orange, $alpha: 0.5);
        padding-left: 5px;
    }
    input[type=submit]{
        height: 35px;
        border: 1px solid $outrageous_orange;
        border-radius: 50px;
        margin: 10px auto;
    }
    select{
        height: 25px;
        width: 50%;
        background: transparent;
        border: none;
        border-bottom: 1px solid $outrageous_orange;
        color: rgb(124, 122, 122);
    }
}
.paper{
    background: white;
    width: 80%;
    margin: auto;
    color: $outrageous_orange;

    a{
        text-decoration: none;
        color: $outrageous_orange;
    }

    .logo-white{
        padding-top: 50px;
    }

    form{
        color: $outrageous_orange;
        margin: 50px auto;
        width: 80%;
        // padding-bottom: 100px;
        input[type=password]{
            height: 35px;
        }
        select{
            color: $outrageous_orange;
        }
    }
    button{
        border: 1px solid $outrageous_orange;
        color: $outrageous_orange;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    p{
        color: rgba($color: $outrageous_orange, $alpha: 0.5);
    }
    padding-bottom: 50px;
}

@media(min-width: $tablet){
    .days{
        .day{
            border: 1px solid white;
            border-radius: 50px;
            width: 70px;
            text-align: center;
        }
    }
    .paper{
        width: 60%;
    }
}
@media(min-width: $desktop){
    .paper{
        width: 40%;
    }
}